*{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    background: url("WaterReflection.jpg")no-repeat center center fixed;
    background-size: cover;
    opacity: 1.5;
}
.home {
	position: absolute;
	background: white;
	opacity: .9;

	width: 85%;
	left: 10%;
	border-radius: 1%;
	margin-top: 5%;
	margin-bottom: 2%;
}
.home h1{
	margin: 0;
	text-align: center;
	font-size: 20px;
	margin-bottom: 5%;

}
.image{
	height: 25%;
	width: 25%;
}
.buttons {
	position: absolute;
	right: 5%;
	top: 4%;
	border-radius: 1%;
}

.img {

}
.list{
	margin-left: 1%;
}
.list > div {
	display: grid;
	grid-template-columns: 30% 30% 30%;
}
.photoNum{
	margin-left: 1%;
}
nav-pills {
	text-align: center;
	color: white;
}